*{
  margin: 0;
  padding: 0;
  font-family: Poppins ,sans-serif;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  border: 0;
}

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-white: #202528;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #edeffd;
  --color-light: rgba(0, 0, 0, 0.4);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #181a1e;

  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}


body{
  background: var(--color-background);
  width: 100vw;
  height: 100vh;
  font-family: Poppins, sans-serif;
  font-size: 0.88rem;
  user-select: none;
}

h1{
  font-weight: 800;
  font-size: 1.8rem;
}

h2{
  font-weight: 800;
  font-size: 1.4rem;
}

h3{
  font-weight: 800;
  font-size: 0.87rem;
}

h4{
  font-weight: 800;
  font-size: 0.8rem;
}

h5{
  font-size: 0.77rem;
}

small{
  font-size: 0.75rem;
}

.inner-width{
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  margin: auto;
  color: var(--color-dark);
}

.inner-width2{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  margin: auto;
  color: var(--color-dark);
}

.inner-width3{
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  margin: auto;
}

.menu-icon{
  width: 50px;
  height: 50px;
  background: #2c3a47;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  z-index: 4;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s linear;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
}

.menu-icon:hover{
  opacity: .9;
  transform: scale(1.1);
}

.filter-icon{
  width: 45px;
  height: 45px;
  background: #2c3a47;
  color: #fff;
  text-align: center;
  line-height: 47px;
  font-size: 20px;
  z-index: 1;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s linear;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.filter-icon:hover{
  opacity: .9;
  transform: scale(1.1);
}

.searchbar{
  position: relative;
}

.term{
  padding-right: 0.75rem;
  right: 800px;
  opacity: 0;
}

.term.active{
  opacity: 1;
}

.filter-icon.active{
  background: #f1f1f1;
  color: #2c3a47;
}

.navigation-menu{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  top: 0;
  right: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .6s;
  z-index: 2;
}

.navigation-menu nav{
  display: grid;
}

.navigation-menu li{
  margin: 20px 0;
  overflow: hidden;
}

.navigation-menu a{
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  transform: translateY(40px);
}

.navigation-menu a::before{
  content: "";
  position: absolute;
  width: 0;
  height: 15px;
  background: #c0392b;
  bottom: 0;
  left: 0;
  border-radius: 15px;
  z-index: -1;
  transition: .2s linear;
}

.navigation-menu a:hover::before{
  width: 100%;
}

.paragraph{
  max-width: 80%;
  margin: auto;
  padding: 40px 0;
  font-size: 18px;
  line-height: 1.4em;
  text-align: center;
  border-radius: 25px;
  color: var(--color-info-dark);
}

.wrapper{
  margin-inline: auto;
  width: min (900px, 100% - 3rem)
}

table{
  text-align: left;
  color: var(--color-info-dark);
  background: var(--color-white);
  padding-top: 50px;
  border-collapse: collapse;
  width: 100%;
}

th, td, caption {
  padding: 1rem;
}

caption, th{
  text-align: left;
}

caption{
  background: hsl(0, 0%, 0%);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

th{
    background: hsl(0, 0%, 7%);
}

tr:nth-of-type(2n) {
  background: hsl(204, 6%, 16%);
}

@media(max-width: 650px) {
  th{
    display: none;
  }

  td{
    display: grid;
    grid-template-columns: 15ch auto;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
  }

td::before{
  font-weight: 700;
  text-transform: capitalize;
}

  td:nth-of-type(1)::before{
      content: "Name: ";
  }

  td:nth-of-type(2)::before{
    content: "Area Name: ";
}

  td:nth-of-type(3)::before{
    content: "Operator: ";
  }

  td:nth-of-type(4)::before{
    content: "Operating: ";
  }

  td:nth-of-type(5)::before{
    content: "Type: ";
  }

  td:nth-of-type(6)::before{
    content: "CCTV: ";
  }

  td:nth-of-type(7)::before{
    content: "Eastings: ";
  }

  td:nth-of-type(8)::before{
    content: "Northings: ";
  }

  td:nth-of-type(9)::before{
    content: "Occupancy: ";
  }

  td:nth-of-type(10)::before{
    content: "Occupancy Current: ";
  }

  td:first-child{
    padding-top: 2rem;
  }

  td:last-child{
    padding-bottom: 2rem;
  }

  #map { position: absolute; left: 130px; top: 1; height: 80%; width: 60%; }

}

.center-icon{
  width: 45px;
  height: 45px;
  background: var(--color-dark);
  color: #fff;
  text-align: center;
  line-height: 47px;
  font-size: 20px;
  z-index: 1;
  border-radius: 10px;
  cursor: pointer;
  transition: .2s linear;
}


.center-icon:hover{
  opacity: .9;
  transform: scale(1.1);
}

.header{
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--color-dark);
}

.menu-icon.active{
  background: #f1f1f1;
  color: #2c3a47;
}

.navigation-menu.active{
  right: 0;
}

.navigation-menu.active a{
  transform: translateY(0);
  transition: .6s linear;
}

.navigation-menu.active li:nth-child(1) a{
  transition-delay: .2s;
}

.navigation-menu.active li:nth-child(2) a{
  transition-delay: .4s;
}

.navigation-menu.active li:nth-child(3) a{
  transition-delay: .6s;
}

.navigation-menu.active li:nth-child(4) a{
  transition-delay: .8s;
}

.navigation-menu.active li:nth-child(5) a{
  transition-delay: 1s;
}
